<footer class="fp__footer mt-0">
    <div class="mainX-container">
        <div class="inner-container">
            <div class="fp__footer--menu-grid">
                <div class="fp__footer--item flow-rootx">
                    <h5 class="h5">Home Warranty</h5>
                    <ul>
                        <li><a routerLink="/plan">Plans</a></li>
                        <li><a routerLink="/our-coverage">Our Coverage</a></li>
                        <li><a routerLink="/affiliates">Affiliates</a></li>
                        <li><a routerLink="/contractors">Contractors</a></li>
                        <li><a routerLink="/real-estate-professionals">Real Estate Professionals</a></li>
                    </ul>
                </div>
                <div class="fp__footer--item flow-rootx">
                    <h5 class="h5">Our Company</h5>
                    <ul>
                        <li><a routerLink="/about-us">About</a></li>
                        <li><a routerLink="/blogs">Blogs</a></li>
                        <li><a routerLink="/testimonials">Testimonials</a></li>
                        <li><a routerLink="/career">Careers</a></li>
                        <li><a routerLink="/contact-us">Contact</a></li>
                    </ul>
                </div>
                <div class="fp__footer--item flow-rootx">
                    <h5 class="h5">Helpful Links</h5>
                    <ul>
                        <li><a routerLink="/faq">FAQ's</a></li>
                        <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="fp__footer--item contact_info flow-rootx">
                    <h5 class="h5">Contact Info</h5>
                    <ul class="contact_link">
                        <li><a href="tel:18003881918"><span class="material-symbols-outlined">phone_in_talk</span>1-800-388-1918</a>
                        </li>
                        <li><a href="mailto:info@firstpremierhomewarranty.com"><span class="material-symbols-outlined">mail</span><em class="mail-link">Email us</em></a></li>
                    </ul>
                </div>

                <div class="fp__footer--item contact_info flow-rootx">
                    <h5 class="h5 social_contact-lg">Follow us</h5>
                    <ul class="social_link social_contact-lg">
                        <li><a href="https://www.facebook.com/firstpremierhomewarranty" target="_blank">
                            <svg
                                version="1.1"
                                id="Icons"
                                viewBox="0 0 32 32"
                                xml:space="preserve"
                              
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:svg="http://www.w3.org/2000/svg"><defs
                                id="defs187" />
                                <style
                                type="text/css"
                                id="style178">
                                    .st0c{fill:none;stroke:currentColor;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                </style>
                                <path
                                class="st0c"
                                d="M 23,31 H 9 C 4.6,31 1,27.4 1,23 V 9 C 1,4.6 4.6,1 9,1 h 14 c 4.4,0 8,3.6 8,8 v 14 c 0,4.4 -3.6,8 -8,8 z"
                                id="path180" />
                                <path
                                class="st0c"
                                d="M 26,16 H 21 V 13.2 C 21,12.5 21.5,12 22.2,12 H 25 V 7 h -4 v 0 c -2.8,0 -5,2.2 -5,5 v 0 4 h -4 v 5 h 4 v 10 h 5 V 21 h 3 z"
                                id="path182" />
                                </svg>
                        </a></li>
                        <li><a href="https://www.instagram.com/firstpremierhomewarranty/" target="_blank">
                            <svg
                            width="716.66669"
                            height="716.66669"
                            viewBox="0 0 21.500001 21.500001"
                            fill="none"
                            version="1.1"
                            id="svg8"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:svg="http://www.w3.org/2000/svg">
                            <defs
                                id="defs12" />
                            <path
                                d="m 7.75,20.75 h 6 c 5,0 7,-2 7,-7 v -6 c 0,-5 -2,-7 -7,-7 h -6 c -5,0 -7,2 -7,7 v 6 c 0,5 2,7 7,7 z"
                                stroke="currentColor"
                                stroke-width="1"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                id="path2" />
                            <path
                                d="m 10.75,14.25 c 1.933,0 3.5,-1.567 3.5,-3.5 0,-1.933 -1.567,-3.5 -3.5,-3.5 -1.933,0 -3.5,1.567 -3.5,3.5 0,1.933 1.567,3.5 3.5,3.5 z"
                                stroke="currentColor"
                                stroke-width="1"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                id="path4" />
                            <path
                                d="m 16.3861,5.75 h 0.0116"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                id="path6" />
                            </svg>
                        </a></li>
                        <!-- <li><a href="javascript:"><svg width="19.470684mm" height="14.216065mm"><use href="#ico--yt" /></svg></a></li>
                        <li><a href="javascript:"><svg width="1200" height="1227"><use href="#ico--x" /></svg></a></li>
                        <li><a href="javascript:"><svg width="18.249977mm" height="18.240385mm"><use href="#ico--linkedin" /></svg></a></li> -->
                    </ul>
                </div>
            </div>

            <div class="fp__footer--info-grid">
                <div class="payments">
                    <p>We Accept</p>
                    <figure><img src="./assets/img/funnel/f-payment-method.jpg" alt="Payment method"></figure>
                </div>

                <div class="ftr_logo">
                    <!-- <a routerLink="/">
                        <figure><img src="./assets/img/logo.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty"></figure>
                    </a> -->

                    <p>© {{currectYear}} First Premier Home Warranty. <br/>All Rights Reserved.</p>
                </div>
            </div>
        
        </div>
    </div>
</footer>