
<app-realtor-post-header></app-realtor-post-header>
<main>
<section class="fp_realtor_portal">
    <div class="main-container">
        <div class="inner-container">
            <div class="card_wrapper">
                <div class="main-inner-container">
                    <div class="inner-container">
                        <div class="rl_dashboard_cards rl_dashbrd_hdng">
                            <h2>Account Summary</h2>
                            <div class="rl_dashboard_card_wrap">
                                <div class="icard">
                                    <div class="icard-wrp">
                                        <div class="d_card_top">
                                            <div class="d-card-icon">
                                                <svg width="28" height="38" viewBox="0 0 28 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.93334 8.03507V4.76327C7.15186 4.69056 5.86127 4.76327 4.92353 4.76327C1.48508 5.11228 0.885952 8.83487 1.01617 10.6525V32.4646C1.17247 36.3034 3.94667 37.1177 5.31427 37.0453C10.0682 37.1177 20.2403 37.2633 22.8973 37.2633C26.1794 36.5652 27 33.9188 27 32.6827L26.8047 23.3035C26.8047 18.9411 26.7265 9.82365 26.4139 8.25321C26.1013 5.98475 24.1998 5.1268 23.288 4.98137L20.0667 4.76327V8.03507H7.93334Z" fill="#F2BD2D"/>
                                                    <path d="M1 10.5109V32.2412C1 34.7756 3.05448 36.8301 5.58883 36.8301H22.3751C24.9235 36.8301 26.9837 34.7535 26.9638 32.2053L26.7928 10.3967" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M7.84509 7.92383H20.0055V3.6792H17.3669" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M7.95984 8.22998V3.6792H10.5984" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M17.6833 3.89657C16.6891 1.71686 13.5667 -1.30343 10.369 3.79383" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M4.86243 16.069L6.46849 17.7899L9.79541 14.6924" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M4.74768 23.6406L6.35374 25.3614L9.68066 22.2639" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M4.97717 30.2943L6.58328 32.0151L9.91019 28.9177" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M13.2371 15.9734H22.6442" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M13.1223 23.5449H22.5294" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M13.3517 30.1987H22.7588" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M1 10.8301C1 8.99865 1.40785 4.85499 5.37255 4.76343C6.77668 4.76343 7.52037 4.76343 7.93333 4.76343" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M26.7833 10.8301C26.7833 8.96342 26.6484 4.85677 22.8986 4.76343C21.5705 4.76343 20.4573 4.76343 20.0667 4.76343" stroke="#1B1818" stroke-width="1.5"/>
                                                </svg>
                                            </div>
                                            <h6>Total Orders</h6>
                                        </div>
                                        <div class="d_card_bottom  policy-top">
                                            <span class="no">{{paginationObj.total}}</span>
                                        </div>
                                    </div>
                                    <div class="rl_arow"><div class="rl_arow-up" ><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/></svg></div></div>
                                </div>
                                <div class="icard">
                                    <div class="icard-wrp">
                                        <div class="d_card_top">
                                            <div class="d-card-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                                    <path d="M1 12.024V14.7349C1 17.5662 1.03614 24.1686 1.18072 27.9276C1.03614 30.2409 2.68676 30.9396 3.53012 30.9999H26.6627C28.5422 30.4216 28.8917 29.0722 28.8313 28.4698V23.2288C30.2771 23.3734 30.8796 22.4457 31 21.9638V18.1686C30.8554 17.012 29.8553 16.4818 29.3735 16.3614H28.8313V15.9999V12.7469C28.9759 10.4337 27.2048 9.61437 26.3012 9.4939H23.5904H11.4819H3.53012C1.6506 9.4939 1.06025 11.1807 1 12.024Z" fill="#F2BD2D"/>
                                                    <path d="M1 12.747C1 11.4819 1.21419 9.57068 3.4981 9.57068C5.782 9.57068 19.7391 9.57068 26.432 9.57068C27.2569 9.66585 28.8873 10.4271 28.8114 12.711C28.7352 14.9949 28.7796 16.1369 28.8114 16.4224" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M1 12.7469L1.11902 28.2225C1.02386 28.952 1.32837 30.5254 3.30776 30.9822C9.7788 30.9822 21.6741 30.9822 26.813 30.9822C27.5742 30.7918 29.0587 29.9735 28.9065 28.2225C28.9065 26.4715 28.8313 24.0219 28.8313 23.2289" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M27.9278 16.3615C30.2772 16.3615 30.8414 17.2789 31.0001 17.945V21.7515C31.0001 22.8173 29.7946 23.2106 29.1921 23.2741H23.6726C19.3903 21.0854 21.221 17.1228 23.4097 16.3615H27.9278Z" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M6.44812 9.57072L19.9612 1.00609C20.8177 0.942652 22.3973 1.3487 21.8644 3.48033C17.2205 6.52551 13.5219 8.80941 12.253 9.57072" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M12.5385 9.38035L21.8644 3.58153C22.7208 3.51809 24.3005 3.9241 23.7676 6.05577C19.1237 9.10095 19.517 8.80937 18.2482 9.57068" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M23.387 6.2462C24.2434 6.18276 25.8231 6.58878 25.2902 8.72044C24.3386 9.38048 25.1316 8.8095 23.8628 9.57081" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M24.6467 21.185C25.3299 21.185 25.8838 20.6312 25.8838 19.9479C25.8838 19.2647 25.3299 18.7108 24.6467 18.7108C23.9634 18.7108 23.4095 19.2647 23.4095 19.9479C23.4095 20.6312 23.9634 21.185 24.6467 21.185Z" fill="#1B1818"/>
                                                  </svg>
                                            </div>
                                            <h6>Paid Amount</h6>
                                        </div>
                                        <div class="d_card_bottom">
                                            <span class="no">{{paidAmount | currency:'USD'}}</span>
                                        </div>
                                    </div>
                                    <div class="rl_arow"><div class="rl_arow-up" ><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/></svg></div></div>
                                </div>
                                <div class="icard">
                                    <div class="icard-wrp">
                                        <div class="d_card_top">
                                            <div class="d-card-icon">
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.02024 6.43662C1.00911 5.27825 1.94507 4.33325 3.10349 4.33325H28.9167C30.0671 4.33325 31 5.266 31 6.41658V24.3039C31 25.4659 30.0496 26.4033 28.8875 26.387L3.2429 26.0284C2.11157 26.0125 1.1997 25.0966 1.18878 23.9653L1.02024 6.43662Z" fill="#F2BD2D"/>
                                                    <path d="M8.5 24.3332H9.5C9.5 24.9332 10.185 25.4443 11 25.4443C11.815 25.4443 12.5 24.9332 12.5 24.3332C12.5 23.722 11.98 23.4998 10.88 23.2054C9.82 22.911 8.5 22.5443 8.5 20.9998C8.5 20.0054 9.235 19.161 10.25 18.8776V17.6665H11.75V18.8776C12.765 19.161 13.5 20.0054 13.5 20.9998H12.5C12.5 20.3998 11.815 19.8887 11 19.8887C10.185 19.8887 9.5 20.3998 9.5 20.9998C9.5 21.611 10.02 21.8332 11.12 22.1276C12.18 22.422 13.5 22.7887 13.5 24.3332C13.5 25.3276 12.765 26.172 11.75 26.4554V27.6665H10.25V26.4554C9.235 26.172 8.5 25.3276 8.5 24.3332Z" fill="#1B1818"/>
                                                    <path d="M4.54166 26.4166C3.65641 26.4829 1.23608 25.7202 1 23.3329C1 16.489 1 9.27383 1 6.52171C1 5.85854 1.59017 4.49242 3.95083 4.33325C6.78362 4.33325 21.1967 4.33325 28.0491 4.33325C29 4.36642 30.9212 4.8505 31 6.52171C31 19.0952 31 23.6313 31 24.3276C30.7704 24.9576 29.9375 26.2574 28.4426 26.4166C23.8786 26.4166 20.6393 26.4166 19.5901 26.4166" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M12.6665 15.896H9.33321C7.66485 15.896 6.31238 17.2485 6.31238 18.9168V27.2502C6.31238 28.9185 7.66485 30.271 9.33321 30.271H12.6665C14.3349 30.271 15.6874 28.9185 15.6874 27.2502V18.9168C15.6874 17.2485 14.3349 15.896 12.6665 15.896Z" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M9.74991 4.75008C9.74991 2.90912 8.53737 1.41675 7.04158 1.41675C5.54579 1.41675 4.33325 2.90912 4.33325 4.75008" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M9.75004 4.33325C9.65283 5.32008 8.93337 7.45167 6.83337 8.08325" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M18.9166 4.33333C18.9166 2.49237 17.6107 1 15.9999 1C14.3891 1 13.0833 2.49237 13.0833 4.33333" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M18.9167 4.33325C18.8195 5.32008 18.1 7.45167 16 8.08325" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M27.6665 4.33333C27.6665 2.49237 26.454 1 24.9582 1C23.4624 1 22.2499 2.49237 22.2499 4.33333" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M27.6667 4.33325C27.5695 5.21046 26.85 7.10517 24.75 7.66658" stroke="#1B1818" stroke-width="1.5"/>
                                                    <path d="M27.6666 20.9998H20.5833V21.8331H27.6666V20.9998Z" fill="#1B1818"/>
                                                    <path d="M20.5833 13.9165H19.3333V15.5832H20.5833V13.9165Z" fill="#1B1818"/>
                                                    <path d="M20.5833 17.6665H19.3333V19.3332H20.5833V17.6665Z" fill="#1B1818"/>
                                                    <path d="M24.3333 13.9165H23.0833V15.5832H24.3333V13.9165Z" fill="#1B1818"/>
                                                    <path d="M24.3333 17.6665H23.0833V19.3332H24.3333V17.6665Z" fill="#1B1818"/>
                                                    <path d="M27.6666 13.9165H26.4166V15.5832H27.6666V13.9165Z" fill="#1B1818"/>
                                                    <path d="M27.6666 17.6665H26.4166V19.3332H27.6666V17.6665Z" fill="#1B1818"/>
                                                </svg>
                                            </div>
                                            <h6>Payment Due</h6>
                                        </div>
                                        <div class="d_card_bottom">
                                            <span class="no">{{dueAmount| currency:'USD'}}</span>
                                        </div>
                                    </div>
                                    <div class="rl_arow"><div class="rl_arow-up" ><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/></svg></div></div>
                                </div>
                                <!-- <div class="icard">
                                    <div class="d_card_top">
                                        <div class="d-card-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="32" viewBox="0 0 34 32" fill="none">
                                                <path d="M28.1002 1.25779C29.4757 1.17181 33.0002 1.77357 33.0002 4.86826C33.0002 7.96295 33.0002 13.3787 33.0002 15.6997H26.8108" stroke="#1B1818" stroke-width="1.5"/>
                                                <path d="M5.92163 22.9284V4.36026C5.92163 3.24272 6.54057 1.00768 9.01632 1.00768H27.709C27.7584 0.997006 27.8033 0.997882 27.8424 1.00768H27.709C27.3236 1.09072 26.6607 1.87528 26.295 4.61815V26.5389C26.1231 27.6566 25.2119 29.9431 22.9424 30.1494C22.1688 30.1494 18.8162 30.1494 18.5583 27.0547C17.7846 26.281 18.0425 23.7021 18.0425 23.1863H5.92163V22.9284Z" fill="#F2BD2D"/>
                                                <path d="M8.50024 8.86572H17.2685" stroke="#1B1818" stroke-width="1.5"/>
                                                <path d="M8.50024 14.0234H20.879" stroke="#1B1818" stroke-width="1.5"/>
                                                <path d="M8.50024 19.1814H23.4579" stroke="#1B1818" stroke-width="1.5"/>
                                                <path d="M6.17935 4.86841C6.09337 3.66493 6.59198 1.25793 9.27404 1.25793C11.9561 1.25793 22.7703 1.25793 27.8422 1.25793C27.4124 1.77372 26.5527 3.21791 26.5527 4.86841C26.5527 6.51891 26.5527 20.5138 26.5527 27.3049C26.1229 29.1101 22.6844 32.2048 19.8476 29.1101C17.0108 26.0155 18.5581 23.1787 18.3002 23.4365C18.0423 23.6944 1.02153 23.4365 1.02153 23.4365C0.935554 25.7576 0.969957 29.6182 3.85833 30.4434C12.7298 30.4434 20.4493 30.4434 23.2001 30.4434" stroke="#1B1818" stroke-width="1.5"/>
                                                <path d="M6.17944 4.61047V23.1786" stroke="#1B1818" stroke-width="1.5"/>
                                            </svg>
                                        </div>
                                        <h6>Claim Raised</h6>
                                    </div>
                                    <div class="d_card_bottom">
                                        <span class="no">{{claimCount}}</span>
                                        <div class="arow-up" ><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/></svg></div>
                                    </div>
                                </div> -->
                            </div>

                        </div>
                        <div class="rl_dashboard_table rl_dashbrd_hdng">
                            <div class="table_util">
                                <h2 class="mb-0">Latest Orders</h2>
                                <div class="table_util_rit">
                                    <form class="search_bx_form">
                                        <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search" [(ngModel)]="searchingvalue" (input)="searchPolicy($event)">
                                        <label class="button searchbutton" for="searchright"><span class="material-symbols-outlined">search</span></label>
                                    </form>

                                    <div class="dropdown">
                                    <button (click)="toggleDropdown()" class="dropbtn">Sort By</button>
                                    <div id="shortDropdown" *ngIf="isDropdownVisible" class="dropdown-content">
                                        <ul class="drop_menu">
                                            <li (click)="updateSorting('policy_info.policy_number')">Policy Number</li>
                                            <li (click)="updateSorting('created_at')">Order Date</li>
                                            <li (click)="updateSorting('policy_info.policy_status')">Policy Status</li>
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rl_table_wrapper">
                                <div class="fixed_table">
                                    <table class="table table-collapse">
                                        <thead>
                                            <tr>
                                                <th>Policy <span>No.</span></th>
                                                <th width="200"><span>Policy</span> Status</th>
                                                <th><span>Property</span> Address</th>
                                                <th>Buyer <span>Name</span></th>
                                                <th>Seller <span>Name</span></th>
                                                <th><span>Order</span> Date</th>
                                                <th><span>Invoice/Receipt</span></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="realtorPolicyList.length>0">
                                            <tr *ngFor="let item of realtorPolicyList">
                                                <td class="c--fpBlue"><small>Policy no.</small>{{item.policy_info.policy_number}}</td>
                                                <td><small>&nbsp;</small>
                                                    <span class="badge--style" [style.background-color]="item.policy_info.policy_status_details.status_color">{{item.policy_info.policy_status_details.status_name}}</span>
                                                </td>
                                                <td><small>Property address</small>{{item.policy_info.billing_address1}}</td>
                                                <td><small>Buyer</small>{{item.buyer_first_name}} {{item.buyer_last_name}}</td>
                                                <td><small>Seller</small> <span *ngIf="item.seller_first_name && item.seller_last_name"> {{item.seller_first_name}} {{item.seller_last_name}}</span>
                                                    <span *ngIf="!item.seller_first_name || !item.seller_last_name"> N/A</span></td>
                                                <td><small>Order date</small>{{item.created_at | date:'MM-dd-yyyy'}}</td>
                                                <td>
                                                    <a class="download-btn" *ngIf="item?.policy_info?.policy_status==4" (click)="generateEscrowInvoice(item?.policy_id,'download')">
                                                        <span>Escrow Invoice  </span><i class="pi pi-download"></i>
                                                    </a>
                                                    <a class="download-btn" *ngIf="item?.policy_info?.policy_status!=4" (click)="generatePaymentReceipt(item?.policy_id,'download')">
                                                        <span>Payment Receipt  </span><i class="pi pi-download"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="realtorPolicyList.length==0">
                                            <tr>
                                                <td colspan="6" style="text-align: center;">No data found</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="rl_paginator">
                                    <p-paginator (onPageChange)="paginate($event)" [first]="paginationObj.first"
                                            [rows]="paginationObj.limit" [totalRecords]="paginationObj.total"
                                            [rowsPerPageOptions]="itemPerPageDropdown"></p-paginator>

                                    <!-- <p-paginator (onPageChange)="paginate($event)" [first]="0" [rows]="10" [totalRecords]="100" [rowsPerPageOptions]="itemPerPageDropdown"></p-paginator> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </section>
</main>
<app-realtor-post-footer></app-realtor-post-footer>
