<app-realtor-post-header></app-realtor-post-header>
<main>
    <section class="rp_panel changePass">
        <div class="main-container">
            <div class="inner-container">
                <div class="card_wrapper">
                    <div class="card_wrap_inner">
                        <div class="main-inner-container">
                            <div class="card_header">
                                <div class="card_header_inner pass_change_hdr">
                                    <h3>Change Password</h3>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="card_inner">
                                    <div class="change_pass_wrap">
                                        <div class="change_pass_form">
                                          <form class="form-style" [formGroup]="changePasswordForm"  (ngSubmit)="onSubmitChangePassword()">
                                            <div class="portal_form_row">
                                              <div class="form-element">
                                                <label class="form-label">Old Password</label>
                                                <input type="{{oldPasswordType?'text':'password'}}" class="form-field" id="oldPassword"
                                                       formControlName="oldPassword"
                                                       [ngClass]="{ 'is-invalid': submitted && f['oldPassword'].errors }" />
                                                <div class="prend" (click)="oldPasswordType=!oldPasswordType"><i class="material-symbols-outlined" *ngIf="!oldPasswordType">visibility</i> <i class="material-symbols-outlined"  *ngIf="oldPasswordType">visibility_off</i></div>
                                                <app-validation-error [control]="f['oldPassword']"></app-validation-error>
                                              </div>

                                              <div class="form-element">
                                                <label class="form-label">New Password</label>
                                                <input type="{{newPasswordType?'text':'password'}}" class="form-field" id="pass" name="pass"
                                                       formControlName="newPassword"
                                                       [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }"
                                                       autocomplete="off" (keyup)="checkPassword()" />
                                                <div class="prend" (click)="newPasswordType=!newPasswordType"><i class="material-symbols-outlined" *ngIf="!newPasswordType">visibility</i> <i class="material-symbols-outlined"  *ngIf="newPasswordType">visibility_off</i></div>
                                                <app-validation-error [control]="f['newPassword']"></app-validation-error>
                                                <!-- <div class="tooltip active">
                                                    <app-validation-error [control]="f['newPassword']"></app-validation-error>
                                                </div> -->

                                              </div>
                                              <div class="form-element">
                                                <label class="form-label">Re-enter New Password</label>
                                                <input type="password"  type="{{confirmPasswordType?'text':'password'}}" class="form-field" id="confirmPassword"
                                                       formControlName="confirmPassword"
                                                       [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
                                                <div class="prend" (click)="confirmPasswordType=!confirmPasswordType"><i class="material-symbols-outlined" *ngIf="!confirmPasswordType">visibility</i> <i class="material-symbols-outlined"  *ngIf="confirmPasswordType">visibility_off</i></div>
                                                <app-validation-error [control]="f['confirmPassword']"></app-validation-error>
                                              </div>
                                            </div>
                                            <div class="form_btn text-right">
                                              <!-- <button type="submit" class="c2a c2a--inline bg--fpYellow hvr:c--whitee hvr:bg--fpGreen">SAVE CHANGES</button> -->
                                              <button type="submit" class="c2a c2a--inline bg--inactive c--blak hvr:bg--fpGreen hvr:c--whitee">SAVE CHANGES</button>
                                            </div>
                                          </form>
                                        </div>
                                      <div class="password_validate">
                                        <div class="card_sec_hdng flow-rootX">
                                          <h3 class="h3">Password Must Contain</h3>
                                          <ul>
                                            <li class="passfailSix">8 Characters  <span class="{{isEightDigitsValid=='Pass'?'pass':'fail'}}">{{isEightDigitsValid }}</span></li>
                                            <li class="passfailLower" >1 LowerCase <span class="{{isLowercaseValid=='Pass'?'pass':'fail'}}">{{isLowercaseValid}}</span></li>
                                            <li class="passfailUpper" >1 Uppercase <span class="{{isUppercaseValid=='Pass'?'pass':'fail'}}">{{isUppercaseValid}}</span> </li>
                                            <li class="passfailNum" >1 Number <span class="{{isNumberValid=='Pass'?'pass':'fail'}}">{{isNumberValid}}</span> </li>
                                            <li class="passfailSpecial" >1 Special Character <span class="{{isSpecialValid=='Pass'?'pass':'fail'}}">{{isSpecialValid}}</span> </li>
                                          </ul>
                                          <div *ngIf="f['newPassword'].value" class="passrd-vld-badge">
                                            <div class="passfailAll" *ngIf="isAllValid">Good Password <span class="valid-result bg-{{isAllValid=='Pass'?'success':'danger'}}">{{isAllValid }}</span></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-realtor-post-footer></app-realtor-post-footer>
