<app-header></app-header>
<main>
    <section class="fp_error_page  unauthorized_page">
        <div class="main-container">
            <div class="inner-container">
                <div class="mainxx-container">
                    <div class="inner-container">
                        <div class="inner_not_found">
                            <h1>401 - <span>Hold Up!</span></h1>
                            <div class="error_content">
                                <div class="error_inner_content flow-rootx2">
                                    <h2>Unauthorized</h2>
                                    <p>Sorry, but you are not authorized to view this page.</p><a routerlink="/" type="submit" value="Get a Quote"
                                        class="c2a bg--fpYellow c2a-lg hvr:bg--fpGreen hvr:c--whitee" ng-reflect-router-link="/" routerLink="/">GO TO HOME
                                        PAGE</a>
                                </div>
                            </div>
                            <picture class="err_img">
                                <source srcset="assets/img/unauthrised-girl.webp" type="image/webp">
                                <source srcset="assets/img/unauthrised-girl.png" type="image/png">
                                <img src="assets/img/unauthrised-girl.webp" alt="First Premier Unauthorized" title="First Premier Unauthorized">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-check-out-strip></app-check-out-strip>
<app-footer></app-footer>