<header>
    <div class="fphw_header_top">
        <div class="main-container">
            <div class="inner-container">
                <div class="top_hdr_wrapper">
                    <div class="login-mnu">
                        <a routerLink="/customer" class="c2a c2a--inline c--fpBlue hvr:c--fpGreen c-log" title="Customer Login"><span class="material-symbols-outlined">person</span> Customer Login</a>
                        <a routerLink="/checkout" class="c2a c2a--inline quot-btn">GET A QUOTE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fphw_header_bottom">
        <div class="main-container">
            <div class="hammenu btn__hammenunew" (click)="enableVisibility()">
                <div></div>
            </div>
            <div class="inner-container">
                <div class="logo">
                    <a routerLink="/">
                        <figure><img src="./assets/img/logo.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty"></figure>
                    </a>
                </div>
                <nav role="main-navigation" class="{{isVisable?'is-visable':''}}">
                    <div class="mobile-logo">
                        <a routerLink="/">
                            <figure><img src="./assets/img/logo-icon.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty"></figure>
                        </a>
                    </div>
                    
                    <span class="material-symbols-outlined navclos"  (click)="disableVisibility()">close</span>
                    <ul>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>
                        <li routerLinkActive="active"><a routerLink="/plan">Plans</a></li>
                        <li routerLinkActive="active"><a routerLink="/contractors">Contractors</a></li>
                        <li class="has-submenu" routerLinkActive="active"><a href="javaScript:void(0)">Real Estate Professionals</a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="/real-estate-professionals">Apply to Partner</a></li>
                                <li><a routerLink="/realestate-professional-portal/">Real Estate Login</a></li>
                            </ul>
                            <span class="active">
                            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 7.4L0 1.4L1.4 0L6 4.6L10.6 0L12 1.4L6 7.4Z" fill="black"/>
                            </svg>
                            </span>
                        </li>
                        <li routerLinkActive="active"><a routerLink="/affiliates">Affiliates</a></li>
                    </ul>
                    <div class="login-mnu">
                        <a routerLink="/checkout" class="c2a c2a--inline quot-btn hvr:bg--fpGreen hvr:c--whitee">GET A QUOTE</a>
                        <a routerLink="/customer" class="c2a c2a--inline c--fpBlue hvr:c--fpGreen" title="Customer Login">Customer Login</a>
                    </div>
                </nav>
                <a class="call--c2a" href="tel:18003881918">
                    <img src="assets/img/icon/call.webp" alt="" title="">
                    <div class="call--Card">
                        <span class="calltop c--whitee">For Free Quote & Lowest Rates</span>
                        <div class="call_txt">
                            <p class="c--whitee d-inline">Call <span class="c--fpYellow">1-800-388-1918</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>