<main>
    <section class="fp__inner__banner affiliate_bnr">
        <div class="main-container">
            <div class="inner-container">
                <div class="banner_wrapper">
                    <picture>
                        <source srcset="assets/img/affiliates/Affiliate_hero.webp" type="image/webp">
                        <source srcset="assets/img/affiliates/Affiliate_hero.jpg" type="image/jpg">
                        <img src="assets/img/affiliates/Affiliate_hero.webp" alt="First Premier" title="First Premier">
                    </picture>
                    <div class="banner_content flow-rootX3">  
                        <h1 class="h1 " *ngIf="pageDetails?.h1_tag" [innerHTML]="pageDetails?.h1_tag"></h1>
                        <h1 class="h1 " *ngIf="!pageDetails?.h1_tag">Become an<br> Affiliate Today.</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fp_affiliate">
        <div class="mainxx-container">
            <div class="inner-container">
                <div class="affiliate_hdng">
                    <div class="hdng_content flow-rootX">
                        <h2 class="">How to Become an <span>Affiliate</span></h2>
                        <p>First Premier Home Warranty pays some of the highest commissions in the industry for lead generation. Our pixel
                            fires on submit and payments are sent weekly. Our program is easy to join. First Premier Home Warranty accepts both
                            US and International publishers into the program. Please complete the form below to join
                            First Premier Home Warranty's team of Affiliate Marketers.</p>
                    </div>
                </div>
                <div class="affiliate_premier_wrapper">
                    <div class="affiliate_primr_image only-affiliate">
                        <picture class="primr_fst ">
                            <source srcset="assets/img/affiliates/Affiliate_inner.webp" type="image/webp">
                            <source srcset="assets/img/affiliates/Affiliate_inner.jpg" type="image/jpg">
                            <img src="assets/img/affiliates/Affiliate_inner.webp" alt="First Premier"
                                title="First Premier">
                        </picture>
                        <div class="primr_image_card advtg_primr_card">
                            <span>7K <sup>+</sup></span>
                            <p>Users register with us<br> as a partner</p>
                        </div>
                    </div>
                    <div class="affiliate_primr_form">
                        <h3 class="">Partner With <span>First Premier Home Warranty</span></h3>

                        <form class="form-style d-grid grid-sm-2" [formGroup]="affiliateForm"
                            (ngSubmit)="contactSubmit()">
                            <div class="form-element">
                                <label class="form-label">First Name <span class="c--madnatory">*</span></label>
                                <input type="text" class="form-field" minlength="3" maxlength="35"
                                    formControlName="firstName"
                                    [ngClass]="{ 'is-invalid': affiliateForm && s1['firstName'].errors }" (keypress)="mszKeyDown($event)"
                                    autocomplete="off" (keydown)="preventNumberInput($event)" />
                                <app-validation-error [control]="s1['firstName']"></app-validation-error>
                            </div>
                            <div class="form-element">
                                <label class="form-label">Last Name <span class="c--madnatory">*</span></label>
                                <input type="text" class="form-field" minlength="3" maxlength="35"
                                    formControlName="lastName"
                                    [ngClass]="{ 'is-invalid': affiliateFormSubmitted && s1['lastName'].errors }" (keypress)="mszKeyDown($event)"
                                    autocomplete="off" (keydown)="preventNumberInput($event)" />
                                <app-validation-error [control]="s1['lastName']"></app-validation-error>
                            </div>
                            <div class="form-element">
                                <label class="form-label">Email Address <span class="c--madnatory">*</span></label>
                                <input type="text" class="form-field" formControlName="emailId"  maxlength="100"
                                    [ngClass]="{ 'is-invalid': affiliateFormSubmitted && s1['emailId'].errors }"
                                    placeholder="">
                                <app-validation-error [control]="s1['emailId']"></app-validation-error>
                            </div>
                            <div class="form-element">
                                <label class="form-label">Phone <span class="c--madnatory">*</span></label>
                                <input type="text" inputmode="numeric" class="form-field" usPhoneNumber formControlName="mobileNo"
                                    placeholder=""
                                    [ngClass]="{ 'is-invalid': affiliateFormSubmitted && s1['mobileNo'].errors }"
                                    (input)="changeMobileFormat($event)">
                                <app-validation-error [control]="s1['mobileNo']"></app-validation-error>
                            </div>
                            <div class="form-element">
                                <label class="form-label">Company Name <span class="c--madnatory">*</span></label>
                                <input type="text" class="form-field" formControlName="companyName" placeholder=""  maxlength="100"
                                    [ngClass]="{ 'is-invalid': affiliateFormSubmitted && s1['companyName'].errors }">
                                <app-validation-error [control]="s1['companyName']"></app-validation-error>
                            </div>
                            <!-- <div class="form-element">
                                <label class="form-label">Type of Marketing</label>
                                <select class="form-field form-select">
                                    <option></option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                </div> -->
                            <div class="form-element form-floating">
                                <label class="form-label">Message <span class="c--madnatory">*</span></label>
                                <textarea class="form-field" formControlName="message"
                                    [ngClass]="{ 'is-invalid': affiliateFormSubmitted && s1['message'].errors }"></textarea>
                                <app-validation-error [control]="s1['message']"></app-validation-error>
                            </div>
                            <div class="form-element">
                                <button class="c2a bg--fpGreen w-100 c2a-lg hvr:bg--fpYellow c--whitee hvr:c--blak"
                                    type="submit" value="Get a Quote" [disabled]="loading">                                    
                                    <span class="fp-spinner-container" *ngIf="loading"><span class="fp-spinner"></span> Loading...</span> <span *ngIf="!loading">REGISTER FOR AFFILIATE</span>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="fp__offset_slider fp__market_leader-slider">
        <div class="inner-container">
            <div class="mainX-container">
                <div class="slider_wrapper">
                    <!-- content area -->
                    <div class="slider_hdng">
                        <h4>We are the <br /> Market Leader<br /> in Home Warranties</h4>
                    </div>
                    <!-- ./content area -->

                    <!-- Slider Section -->
                    <div class="customer_slider">
                        <div class="swiper-container swiper__featuredon">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card--featuredOn">
                                        <article class="ldr_crd_top">
                                            <span>Rated a Best Home Warranty
                                                Company for 2024 and Best for
                                                Customer Satisfaction</span>
                                        </article>
                                        <figure>
                                            <img src="assets/img/recognitions/investopedia.webp" alt="Investopedia"
                                                title="Investopedia" />
                                        </figure>
                                    </div>
                                </div>

                             <div class="swiper-slide">
                                <div class="card--featuredOn with-cup">
                                    <article class="ldr_crd_top">
                                        <span>#1 Rated by</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/Forbes.webp" alt="Forbes" title="Forbes" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>Rated Best Reviews by</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/consumer-affairs.webp" alt="Consumer Affairs"
                                            title="Consumer Affairs" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>Most Trustworthy Rated by</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/top10com.webp" alt="Top 10.com"
                                            title="Top 10.com" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>Most Trustworthy Rated by</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/best-home.webp" alt="Investopedia"
                                            title="Investopedia" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>Top Ranked <br/>Home Warranty Company</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/USN_360_Reviews.webp" alt="USN 360 News"
                                            title="USN 360 News" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>Rated Best in Service by</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/Home-Advisor.webp" alt="Home advisor"
                                            title="Home advisor" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>#1 Rated by</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/usa-today.webp" alt="Usa today"
                                            title="Usa today" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>Awarded in</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/top10sites.webp" alt="Top10 sites"
                                            title="Top10 sites" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>Most Trustworthy Rated by</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/rating_reviewhome.webp" alt="Most Trustworthy"
                                            title="Most Trustworthy" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>Top searched in</span>
                                    </article>
                                    <figure>
                                        <img src="assets/img/recognitions/google.webp" alt="Google review"
                                            title="Google review" />
                                    </figure>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="card--featuredOn">
                                    <article class="ldr_crd_top">
                                        <span>Top Ranked<br> Home
                                            Warranty in 2024</span>
                                    </article>
                                    <figure class="text-center">
                                        <img src="assets/img/recognitions/consumers-advocate.webp"
                                            alt="Consumer Affairs" title="Consumer Affairs" />
                                    </figure>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- ./Slider Section -->

                <div class="swiper-nav">
                    <div class="swiper-nav--prev swiper__featuredon--prev"></div>
                    <div class="swiper-nav--next swiper__featuredon--next"></div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
<app-check-out-strip></app-check-out-strip>


<!-- <div class="modal_wrap modal_wrap_on" style="display: none;">
    <div class="modal-dialog">
        <div for="modal-test" class="modal-close" >×</div>

        <div class="modal-content modal_show">
            <form class="form-style-3 flow-rootx moadal_form">
                <div class="mod_hdng">
                    <div class="hd-i">
                        <i class="material-symbols-outlined">credit_card_gear</i>
                        <h3>Edit Card</h3>
                    </div>
                </div>
                
                <div class="cradit_card">
                    <div class="c_card_head">
                        <div class="title"><span>CREDIT CARD</span> </div>

                        <picture>
                            <source
                                srcset="assets/img/icon/card-name.webp"
                                type="image/webp">
                            <source
                                srcset="assets/img/icon/card-name.jpg"
                                type="image/jpg">
                            <img src="assets/img/icon/card-name.webp"
                                alt=""
                                title="">
                        </picture>
                    </div>
                    <div class="c_card_main">
                        <p class="number">
                            <span>XXXX XXXX XXXX 1234</span></p>
                        <div class="text-right"><em>VALID THRU
                               <span>08/27</span></em></div>
                    </div>
                    <div class="c_card_ftr"><span
                            class="name">JHON SMITH</span>
                    </div>
                </div>
                <div class="payment_btm flow-rootX">
                    <div class="date_edit">
                        <label>Edit expiry date :</label>
                        <div class="form-style"><input type="text" class="form-field" value="08/27" /></div>
                    </div>
                    <div class="text-right nxt_btn"><button class="c2a c2a--inline bg--fpYellow hvr:c--whitee hvr:bg--fpGreen btn-sm">Next</button></div>
                </div>

       

                <div class="in_otp">
                  <p>An OTP has been sent to jhonsmit@email.com</p>  

                  <div class="validate_otp">
                    <div class="ng-otp-input-wrapper wrapper">
                        <input type="text" autocomplete="one-time-code" class="otp-input" type="text" placeholder="">
                        <input type="text" autocomplete="one-time-code" class="otp-input" type="text" placeholder="">
                        <input type="text" autocomplete="one-time-code" class="otp-input" type="text" placeholder="">
                        <input type="text" autocomplete="one-time-code" class="otp-input" type="text" placeholder="">
                    </div>
                  </div>
                  <p class="text-center">Did not received OTP? <a href="javaScript:void(0)">Resend</a></p>
                  <div class="payment_btm text-center"><button class="c2a c2a--inline bg--fpYellow hvr:c--whitee hvr:bg--fpGreen btn-sm">UPDATE CARD</button></div>
                </div>
            </form>    
        </div>
    </div>

</div> -->