<section class="ftr_quck_access">
    <div class="mainX-container">
        <div class="inner-container">
            <div class="ftr__top">
                <div class="ftr_top_wrap">
                    <a  href="tel:18003881918" class="call--c2a">
                        <figure><img src="assets/img/icon/call.webp" alt="Call" title="Call"></figure>
                        <div class="call--Card">
                            <div class="call_txt">
                                <p class="c--whitee"><span>1-800-388-1918</span></p>
                            </div>
                        </div>
                    </a>
                    <div class="cal_mdl">
                        <span>Call us for a Free Quote and Lowest Rates</span>
                        <p>Protect Your Property, Secure Your Peace: Your Plan Starts Here.</p>
                    </div>
                    <div class="footer--c2a">
                        <a (click)="navigate()" class="c2a c2a--inline bg--fpYellow hvr:bg--fpDarkYellow">CHECK OUR PRICES</a>
                        <!-- routerLink="/plan" -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>