<header class="landing_hdr">
    <div class="fphw_header_bottom">
        <div class="main-container">
            <div class="inner-container">
                <div class="logo">
                    <a routerLink="/">
                        <figure><img src="./assets/img/logo.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty"></figure>
                    </a>
                </div>
                <div class="call_hdr">
                    <a class="c2a bg--fpYellow call--c2a" href="tel:18003881918">
                        <span class="material-symbols-outlined">phone_in_talk</span>  1 (800) 388-1918
                    </a>
                    <h5>Call For Free Quote!</h5>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="thankyou_sec">
        <div class="mainxx-container">
            <div class="inner-container">
                <div class="thnkyou_wrapper">
                    <h1>Hip hip <span>Hooray!</span></h1>
                    <figure class="thnk-logo_img">
                        <img src="assets/img/tnk-logo.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty" />
                    </figure>
                    <div class="thnk_card">
                        <div class="thnk_content flow-rootX3">
                            <h2>Thank you for choosing us!</h2>
                            <p class="h4">Your account has been successfully created. <br/>Please check your email inbox for Login credentials.</p>
                            <p>If you have any questions or rush request, please <a href="mailto:info@firstpremierhomewarranty.com" class="c--fpDarkYellow fw--b mail-link">Email us</a>.</p>
                            <a routerLink="/" class="c2a c2a--inline bg--fpBlue c--whitee hvr:bg--fpGreen">BACK TO HOME</a>
                        </div>
                        <figure class="thnk_img">
                            <img src="assets/img/girl.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="landing_footer fp__footer mt-0">
    <div class="main-container">
        <div class="inner-container">
            <div class="landing_footer_grid">
                <div class="payments">
                    <figure><img src="./assets/img/landing/f-payment-method.jpg" alt="Payment method"></figure>
                </div>
                <p>© {{currectYear}} First Premier Home Warranty. All Rights Reserved.</p>

                <div class="scrollUp">
                    <span class="material-symbols-outlined">arrow_upward_alt</span>
                </div>
            </div>
        
        </div>
    </div>
</footer>