.form-style-3 .form-field{
    font-size: 1.15rem;
  }

  .form-style-3 .form-element.has-value .form-label{
    left: 1.65em;
  }

  .form-style-3 .form-field:not(.with-placeholder) {
    padding: 1.25em 1.25em 0.5em 1.25em;
}