.error{
    color:rgb(255, 43, 43);
    font-size: 15px;
}

.tab-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    margin-bottom: 10px;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-bottom: none;
    user-select: none;
  }
  
  .tab.active {
    background-color: white;
    border-bottom: 1px solid white;
  }
  
  .tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .tab-content.active {
    display: block;
  }


  .form-style .form-field{
    font-size: 1.15rem;
  }

  .c2a {
    --c2a-fs: 1.15rem;
  }

