<main>
    <section class="thankyou_sec">
        <div class="mainxx-container">
            <div class="inner-container">
                <div class="thnkyou_wrapper">
                    <h1>Hip hip <span>Hooray!</span></h1>
                    <figure class="thnk-logo_img">
                        <img class="thnk-logo" src="assets/img/tnk-logo.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty" />
                    </figure>
                    <div class="thnk_card">
                        <div class="thnk_content flow-rootX3">
                            <h2>Thank you for choosing us!</h2>
                            <p class="h4">We have received your message & resume.</p>
                            <p>If you have any questions or rush request, please <a href="mailto:info@firstpremierhomewarranty.com" class="c--fpDarkYellow fw--b mail-link">Email us</a>.</p>
                            <a routerLink="/" class="c2a c2a--inline bg--fpBlue c--whitee hvr:bg--fpGreen">BACK TO HOME</a>
                        </div>
                        <figure class="thnk_img">
                            <img src="assets/img/girl.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>