<main>
    <section class="fp_customer_portal">
        <div class="main-container">
            <div class="inner-container">
                <div class="card_wrapper">
                    <div class="card_wrap_inner">
                        <div class="main-inner-container">
                            <div class="card_header">
                                <div class="card_header_inner pass_change_hdr">
                                    <svg width="99" height="48" viewBox="0 0 99 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M62 29.5H6.00002C4.33332 29.5 1.10002 28.6 1.50002 25" stroke="white" stroke-width="2"/>
                                        <path d="M62 1H6.00002C4.33332 1 1.10002 1.9 1.50002 5.5" stroke="white" stroke-width="2"/>
                                        <path d="M37.466 1H93.466C95.133 1 98.366 1.9 97.966 5.5" stroke="white" stroke-width="2"/>
                                        <path d="M1.5 5.5V25.5" stroke="white" stroke-width="2"/>
                                        <path d="M98 5V21" stroke="white" stroke-width="2"/>
                                        <path d="M17.5 8L19.1839 13.1824H24.6329L20.2245 16.3853L21.9084 21.5676L17.5 18.3647L13.0916 21.5676L14.7755 16.3853L10.3671 13.1824H15.8161L17.5 8Z" fill="white"/>
                                        <path d="M36.5 8L38.1839 13.1824H43.6329L39.2245 16.3853L40.9084 21.5676L36.5 18.3647L32.0916 21.5676L33.7755 16.3853L29.3671 13.1824H34.8161L36.5 8Z" fill="white"/>
                                        <path d="M55.5 8L57.1839 13.1824H62.6329L58.2245 16.3853L59.9084 21.5676L55.5 18.3647L51.0916 21.5676L52.7755 16.3853L48.3671 13.1824H53.8161L55.5 8Z" fill="white"/>
                                        <path d="M95 25H65.5V44C65.5 46 68.5 46.5 69.5 46.5H91.5C93.5 46.5 94.667 44.8333 95 44V25Z" stroke="white" stroke-width="2"/>
                                        <path d="M69.5 25C69 20.8333 70.3 12.4 79.5 12C82 12 92 12.5 91 25" stroke="white" stroke-width="2"/>
                                        </svg>
                                    <h3>Change Password</h3>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="card_inner">
                                    <div class="change_pass_wrap">
                                        <div class="change_pass_form">
                                            <form class="form-style" [formGroup]="changePasswordForm"  (ngSubmit)="onSubmitChangePassword()">
                                                <div class="portal_form_row">
                                                    <div class="form-element">
                                                        <label class="form-label">Old Password</label>
                                                        <input type="{{oldPasswordType?'text':'password'}}" class="form-field" id="oldPassword"
                                                            formControlName="oldPassword"
                                                        [ngClass]="{ 'is-invalid': submitted && f['oldPassword'].errors }" />
                                                        <div class="prend" (click)="oldPasswordType=!oldPasswordType"><i class="material-symbols-outlined" *ngIf="!oldPasswordType">visibility</i> <i class="material-symbols-outlined"  *ngIf="oldPasswordType">visibility_off</i></div>
                                                        <app-validation-error [control]="f['oldPassword']"></app-validation-error>
                                                    </div>

                                                    <div class="form-element">
                                                        <label class="form-label">New Password</label>
                                                        <input type="{{newPasswordType?'text':'password'}}" class="form-field" id="pass" name="pass"
                                                            formControlName="newPassword"
                                                        [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }"
                                                        autocomplete="off" (keyup)="checkPassword()" />
                                                        <div class="prend" (click)="newPasswordType=!newPasswordType"><i class="material-symbols-outlined" *ngIf="!newPasswordType">visibility</i> <i class="material-symbols-outlined"  *ngIf="newPasswordType">visibility_off</i></div>
                                                        <app-validation-error [control]="f['newPassword']"></app-validation-error>
                                                        <!-- <div class="tooltip active">
                                                            <app-validation-error [control]="f['newPassword']"></app-validation-error>
                                                        </div> -->

                                                    </div>
                                                    <div class="form-element">
                                                        <label class="form-label">Re-enter New Password</label>
                                                        <input type="password"  type="{{confirmPasswordType?'text':'password'}}" class="form-field" id="confirmPassword"
                                                            formControlName="confirmPassword"
                                                        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
                                                        <div class="prend" (click)="confirmPasswordType=!confirmPasswordType"><i class="material-symbols-outlined" *ngIf="!confirmPasswordType">visibility</i> <i class="material-symbols-outlined"  *ngIf="confirmPasswordType">visibility_off</i></div>
                                                        <app-validation-error [control]="f['confirmPassword']"></app-validation-error>
                                                    </div>
                                                </div>
                                                <div class="form_btn text-right">
                                                    <!-- <button type="submit" class="c2a c2a--inline bg--fpYellow hvr:c--whitee hvr:bg--fpGreen">SAVE CHANGES</button> -->
                                                    <button type="submit" class="c2a c2a--inline bg--inactive c--blak hvr:bg--fpGreen hvr:c--whitee">SAVE CHANGES</button>
                                                </div>
                                            </form>
                                            <!-- <form class="c__portal_form change_pass_form" >

                                            </form> -->

                                        </div>
                                        <div class="password_validate">
                                            <div class="card_sec_hdng flow-rootX">
                                                <h3 class="h3">Password Must Contain</h3>
                                              <ul>
                                                <li class="passfailSix">8 Characters  <span class="{{isEightDigitsValid=='Pass'?'pass':'fail'}}">{{isEightDigitsValid }}</span></li>
                                                <li class="passfailLower" >1 LowerCase <span class="{{isLowercaseValid=='Pass'?'pass':'fail'}}">{{isLowercaseValid}}</span></li>
                                                <li class="passfailUpper" >1 Uppercase <span class="{{isUppercaseValid=='Pass'?'pass':'fail'}}">{{isUppercaseValid}}</span> </li>
                                                <li class="passfailNum" >1 Number <span class="{{isNumberValid=='Pass'?'pass':'fail'}}">{{isNumberValid}}</span> </li>
                                                <li class="passfailSpecial" >1 Special Character <span class="{{isSpecialValid=='Pass'?'pass':'fail'}}">{{isSpecialValid}}</span> </li>
                                              </ul>
                                              <div *ngIf="f['newPassword'].value" class="passrd-vld-badge">
                                                <div class="passfailAll" *ngIf="isAllValid">Good Password <span class="valid-result bg-{{isAllValid=='Pass'?'success':'danger'}}">{{isAllValid }}</span></div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
