<app-header ></app-header>
<main>
    <section class="fp_cl">
        <div class="mainX-container">
            <div class="inner-container">
                <div class="cl_wrapper">
                    <div class="clogin_img">
                        <picture>
                            <source srcset="assets/img/realtor-login/realtor-login.webp" type="image/webp">
                            <source srcset="assets/img/realtor-login/realtor-login.png" type="image/png">
                            <img src="assets/img/realtor-login/realtor-login.webp" alt="First Premier" title="First Premier">
                        </picture>
                    </div>
                    <div class="clogin_form">
                        <div class="clogin_form_inner">
                            <div class="hdng_content mb-1">
                                <h2>Reset your  <span>password</span></h2>                                
                            </div>
                            <form [formGroup]="resetPasswordForm"
                            class="form-style-3 flow-rootX" (ngSubmit)="onSubmit()">

                            <div class="form-element form_root">
                                <label class="form-label">New Password</label>
                                <input type="password" class="form-field" autocomplete="off" type="{{passwordType?'text':'password'}}" formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                <span class="material-symbols-outlined" *ngIf="!passwordType" (click)="passwordType=!passwordType">visibility_off</span>
                                <span class="material-symbols-outlined" *ngIf="passwordType" (click)="passwordType=!passwordType">visibility</span>
                                <app-validation-error [control]="f['password']"></app-validation-error>
                            </div>
                            <div class="form-element form_root">
                                <label class="form-label">Re-enter New Password</label>
                                <input type="{{confirmPasswordType?'text':'password'}}" id="confirmPassword" class="form-field" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                                <span class="material-symbols-outlined" *ngIf="!confirmPasswordType" (click)="confirmPasswordType=!confirmPasswordType">visibility_off</span>
                                <span class="material-symbols-outlined" *ngIf="confirmPasswordType" (click)="confirmPasswordType=!confirmPasswordType">visibility</span>
                                <app-validation-error [control]="f['confirmPassword']"></app-validation-error>
                            </div>

                            <!-- <div class="form-floating">
                                <input type="{{passwordType?'text':'password'}}" id="pass" name="pass"
                                    class="form-control" formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                                    autocomplete="off" (keyup)="checkPassword()" (focus)="onFocusPassword()" (blur)="onBlurPassword()">
                                <label for="password">New Password<span class="c--error">*</span></label>
                                <div class="password-eye">
                                    <i class="pi pi-eye text-2xl text-color-secondary" *ngIf="!passwordType"
                                        (click)="passwordType=!passwordType"></i>
                                    <i class="pi pi-eye-slash text-2xl text-color-secondary" *ngIf="passwordType"
                                        (click)="passwordType=!passwordType"></i>
                                </div>
                                <app-validation-error [control]="f['password']"></app-validation-error>
                                <div class="password--validation" *ngIf="f['password'].value && enablePasswordStrength">
                                    <div class="passfailSix" *ngIf="isEightDigitsValid">8 Characters  <span class="{{isEightDigitsValid=='Pass'?'pass':'fail'}}"> {{
                                        isEightDigitsValid }}</span></div>
                                    <div class="passfailLower" *ngIf="isLowercaseValid">1 LowerCase <span class="{{isLowercaseValid=='Pass'?'pass':'fail'}}">{{
                                      isLowercaseValid
                                      }}</span></div>
                                    <div class="passfailUpper" *ngIf="isUppercaseValid">1 Uppercase <span class="{{isUppercaseValid=='Pass'?'pass':'fail'}}">{{
                                      isUppercaseValid
                                      }}</span> </div>
                                    <div class="passfailNum" *ngIf="isNumberValid">1 Number <span class="{{isNumberValid=='Pass'?'pass':'fail'}}">{{
                                      isNumberValid
                                      }}</span>
                                    </div>
                                    <div class="passfailSpecial" *ngIf="isSpecialValid">1 Special Character <span class="{{isSpecialValid=='Pass'?'pass':'fail'}}">{{
                                      isSpecialValid
                                      }}</span> </div>
                                    <div class="passfailAll" *ngIf="isAllValid">Good Password <span class="{{isAllValid=='Pass'?'pass':'fail'}}">{{
                                      isAllValid
                                      }}</span></div>
                                </div>
                            </div> -->
                            <!-- <div class="form-floating">
                                <input type="{{confirmPasswordType?'text':'password'}}" id="confirmPassword"
                                    class="form-control" formControlName="confirmPassword"
                                    [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                                <label for="confirmPassword">Re-enter New Password<span class="c--error">*</span></label>
                                <div class="password-eye">
                                    <i class="pi pi-eye text-2xl text-color-secondary" *ngIf="!confirmPasswordType"
                                        (click)="confirmPasswordType=!confirmPasswordType"></i>
                                    <i class="pi pi-eye-slash text-2xl text-color-secondary"
                                        *ngIf="confirmPasswordType"
                                        (click)="confirmPasswordType=!confirmPasswordType"></i>
                                </div>
                                <app-validation-error [control]="f['confirmPassword']"></app-validation-error>
                            </div> -->
                            
                            <div class="form-element mb-0">
                                <button type="submit" class="c2a bg--fpGreen w-100 hvr:bg--fpYellow c--whitee" [disabled]="loading">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>RESET PASSWORD
                                </button>
                            </div>
                            <div class="form-element forgot-password text-right">
                                <a class="c2a-underline" routerLink="/realestate-professional-portal">back to login?</a>
                            </div>
                        </form>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-check-out-strip></app-check-out-strip>
<app-footer ></app-footer>