<section class="fphw-realtor-strip">
    <div class="mainX-container">
        <div class="inner-container">
            <article>
                <h6>Not a First Premier partner yet?</h6>
                <p>Join us today and get real estate-exclusive pricing that sweetens the deal</p>
            </article>
           
           
            <div class="ctas">
                <button type="button" class="c2a c2a--inline bg--fpYellow hvr:c--whitee hvr:bg--fpGreen">APPLY TO PARTNER</button>
               
            </div>
        </div>
    </div>
</section>


<footer class="fphw-realtor-prelogin-footer">
    <div class="mainX-container">
        <div class="inner-container">
            <div class="logo">
                <a routerLink="/">
                    <figure><img src="./assets/img/logo.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty"></figure>
                </a>

                <p>© {{currectYear}} First Premier Home Warranty. <br/>All Rights Reserved.</p>
            </div>

            
            <div class="ctass">
                <p>For any help and support</p>

               
                <a href="tel:18003881918">
                    <span class="material-symbols-outlined">phone_in_talk</span>
                    <span> 1800 388 1918</span>
                </a>

                <a href="mailto:realtor@firstpremierhomewarranty.com" class="mail-link">
                    <span class="material-symbols-outlined">mail</span>
                    <span> Mail us</span>
                </a>
    
            </div>
        </div>
    </div>
</footer>