<app-header ></app-header>
<main>
    <section class="fp_cl">
        <div class="mainX-container">
            <div class="inner-container">
                <div class="cl_wrapper">
                    <div class="clogin_img">
                        <picture>
                            <source srcset="assets/img/realtor-login/realtor-login.webp" type="image/webp">
                            <source srcset="assets/img/realtor-login/realtor-login.png" type="image/png">
                            <img src="assets/img/realtor-login/realtor-login.webp" alt="First Premier" title="First Premier">
                        </picture>
                    </div>
                    <div class="clogin_form">
                        <div class="clogin_form_inner flow-rootX">
                            <div class="hdng_content flow-rootx">
                                <h2><span>Forgot Password</span></h2>                                
                            </div>
                            <form class="form-style-3 flow-rootX" [formGroup]="fpForm" (ngSubmit)="onSubmit()">                           
                
                                <div class="form-element form_root">
                                    <label class="form-label">Email Address</label>
                                    <input type="text" class="form-field"  formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                    <span class="material-symbols-outlined">mail</span>
                                    <app-validation-error [control]="f['email']"></app-validation-error>
                                </div>

                                <div class="form-element form_root rest_btn">
                                    <button class="c2a bg--fpGreen w-100 hvr:bg--fpBlue c--whitee" type="submit" value="Get a Quote" [disabled]="loading">                                        
                                        <span class="fp-spinner-container" *ngIf="loading"><span class="fp-spinner"></span> Loading...</span> <span *ngIf="!loading">RESET PASSWORD</span>
                                    </button>
                                </div>
                            </form>
                            <div class="backlog">
                                <a routerLink="/realestate-professional-portal"  class="back hvr:c--fpGreen ng-star-inserted"><span class="material-symbols-outlined">arrow_back</span> Back to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-check-out-strip></app-check-out-strip>
<app-footer ></app-footer>
